<div class="space-y-6 sm:space-y-8">
    {% set defaultStepClasses = 'text-sm' %}
    {% set currentStepClasses = 'text-blue-700 dark:text-blue-300 text-md' %}
    {% set completedStepClasses = 'text-emerald-700 dark:text-emerald-300 text-sm' %}

    <ol aria-label="{% trans %}Postęp składania wniosku{% endtrans %}"
        class="bg-zinc-50 flex flex-col gap-4 mb-10 p-8 rounded-lg dark:bg-zinc-800 sm:justify-center lg:flex-row lg:gap-6 lg:space-x-8 md:items-center {{ borderPrimary() }}">

        <li class="flex items-center gap-2 md:flex-1 md:flex-col md:gap-1.5 lg:flex-none"
            {% if currentStep == 1 %}
                aria-current="step"
                aria-label="{% trans %}Obecny krok{% endtrans %}: 1. {% trans %}Załóż konto{% endtrans %}"
            {% elseif currentStep > 1 %}
                aria-label="{% trans %}Poprzedni krok{% endtrans %}: 1. {% trans %}Załóż konto{% endtrans %}"
            {% else %}
                aria-label="{% trans %}Następny krok{% endtrans %}: 1. {% trans %}Załóż konto{% endtrans %}"
            {% endif %}
        >
            {% if currentStep > 1 %}
                <svg class="h-5 w-5 {{ completedStepClasses }}" role="img" aria-label="{% trans %}Krok ukończony{% endtrans %}" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                     viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm13.707-1.293a1 1 0 0 0-1.414-1.414L11 12.586l-1.793-1.793a1 1 0 0 0-1.414 1.414l2.5 2.5a1 1 0 0 0 1.414 0l4-4Z" clip-rule="evenodd" />
                </svg>
            {% elseif currentStep == 1 %}
                <svg class="h-7 w-7 {{ currentStepClasses }}" role="img" aria-label="{% trans %}Obecny krok{% endtrans %}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
                    <circle cx="12" cy="12" r="9" stroke="currentColor" stroke-width="2" />
                    <circle cx="12" cy="12" r="4" fill="currentColor" />
                </svg>
            {% else %}
                <svg class="h-5 w-5 {{ defaultStepClasses }}" role="img" aria-label="{% trans %}Następny krok{% endtrans %}" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                     viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
            {% endif %}

            <p class="font-medium {% if currentStep == 1 %}{{ currentStepClasses }}{% elseif currentStep > 1 %}{{ completedStepClasses }}{% else %}{{ defaultStepClasses }}{% endif %}">
                1. {% trans %}Załóż konto{% endtrans %}
            </p>
        </li>

        <li class="flex items-center gap-2 md:flex-1 md:flex-col md:gap-1.5 lg:flex-none"
            {% if currentStep == 2 %}
                aria-current="step"
                aria-label="{% trans %}Obecny krok{% endtrans %}: 2. {% trans %}Wybierz termin wizyty{% endtrans %}"
            {% elseif currentStep > 2 %}
                aria-label="{% trans %}Poprzedni krok{% endtrans %}: 2. {% trans %}Wybierz termin wizyty{% endtrans %}"
            {% else %}
                aria-label="{% trans %}Następny krok{% endtrans %}: 2. {% trans %}Wybierz termin wizyty{% endtrans %}"
            {% endif %}
        >
            {% if currentStep > 2 %}
                <svg class="h-5 w-5 {{ completedStepClasses }}" role="img" aria-label="{% trans %}Krok ukończony{% endtrans %}" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                     viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm13.707-1.293a1 1 0 0 0-1.414-1.414L11 12.586l-1.793-1.793a1 1 0 0 0-1.414 1.414l2.5 2.5a1 1 0 0 0 1.414 0l4-4Z" clip-rule="evenodd" />
                </svg>
            {% elseif currentStep == 2 %}
                <svg class="h-7 w-7 {{ currentStepClasses }}" role="img" aria-label="{% trans %}Obecny krok{% endtrans %}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
                    <circle cx="12" cy="12" r="9" stroke="currentColor" stroke-width="2" />
                    <circle cx="12" cy="12" r="4" fill="currentColor" />
                </svg>
            {% else %}
                <img src="{{ asset('images/stepper/step-next.svg') }}" alt="{% trans %}Następny krok{% endtrans %}" class="h-5 w-5 {{ defaultStepClasses }}">
            {% endif %}

            <p class="font-medium {% if currentStep == 2 %}{{ currentStepClasses }}{% elseif currentStep > 2 %}{{ completedStepClasses }}{% else %}{{ defaultStepClasses }}{% endif %}">
                2. {% trans %}Wybierz termin wizyty{% endtrans %}
            </p>
        </li>

        <li class="flex items-center gap-2 md:flex-1 md:flex-col md:gap-1.5 lg:flex-none"
            {% if currentStep == 3 %}
                aria-current="step"
                aria-label="{% trans %}Obecny krok{% endtrans %}: 3. {% trans %}Złóż wniosek{% endtrans %}"
            {% elseif currentStep > 3 %}
                aria-label="{% trans %}Poprzedni krok{% endtrans %}: 3. {% trans %}Złóż wniosek{% endtrans %}"
            {% else %}
                aria-label="{% trans %}Następny krok{% endtrans %}: 3. {% trans %}Złóż wniosek{% endtrans %}"
            {% endif %}
        >
            {% if currentStep > 3 %}
                <svg class="h-5 w-5 {{ completedStepClasses }}" role="img" aria-label="{% trans %}Krok ukończony{% endtrans %}" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                     viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm13.707-1.293a1 1 0 0 0-1.414-1.414L11 12.586l-1.793-1.793a1 1 0 0 0-1.414 1.414l2.5 2.5a1 1 0 0 0 1.414 0l4-4Z" clip-rule="evenodd" />
                </svg>
            {% elseif currentStep == 3 %}
                <svg class="h-7 w-7 {{ currentStepClasses }}" role="img" aria-label="{% trans %}Obecny krok{% endtrans %}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
                    <circle cx="12" cy="12" r="9" stroke="currentColor" stroke-width="2" />
                    <circle cx="12" cy="12" r="4" fill="currentColor" />
                </svg>
            {% else %}
                <svg class="h-5 w-5 {{ defaultStepClasses }}" role="img" aria-label="{% trans %}Następny krok{% endtrans %}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
                    <circle cx="12" cy="12" r="9" stroke="currentColor" stroke-width="2" />
                </svg>
            {% endif %}

            <p class="font-medium {% if currentStep == 3 %}{{ currentStepClasses }}{% elseif currentStep > 3 %}{{ completedStepClasses }}{% else %}{{ defaultStepClasses }}{% endif %}">
                3. {% trans %}Potwierdź termin wizyty{% endtrans %}
            </p>
        </li>

        <li class="flex items-center gap-2 md:flex-1 md:flex-col md:gap-1.5 lg:flex-none"
            {% if currentStep == 3 %}
                aria-current="step"
                aria-label="{% trans %}Obecny krok{% endtrans %}: 3. {% trans %}Potwierdź termin wizyty{% endtrans %}"
            {% elseif currentStep > 3 %}
                aria-label="{% trans %}Poprzedni krok{% endtrans %}: 3. {% trans %}Potwierdź termin wizyty{% endtrans %}"
            {% else %}
                aria-label="{% trans %}Następny krok{% endtrans %}: 3. {% trans %}Potwierdź termin wizyty{% endtrans %}"
            {% endif %}
        >
            {% if currentStep >= 4 %}
                <svg class="h-5 w-5 {{ completedStepClasses }}" role="img" aria-label="{% trans %}Krok ukończony{% endtrans %}" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                     viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm13.707-1.293a1 1 0 0 0-1.414-1.414L11 12.586l-1.793-1.793a1 1 0 0 0-1.414 1.414l2.5 2.5a1 1 0 0 0 1.414 0l4-4Z" clip-rule="evenodd" />
                </svg>
            {% else %}
                <svg class="h-5 w-5 {{ defaultStepClasses }}" role="img" aria-label="{% trans %}Następny krok{% endtrans %}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
                    <circle cx="12" cy="12" r="9" stroke="currentColor" stroke-width="2" />
                </svg>
            {% endif %}

            <p class="font-medium {% if currentStep >= 4 %}{{ completedStepClasses }}{% else %}{{ defaultStepClasses }}{% endif %}">
                4. {% trans %}Podsumowanie{% endtrans %}
            </p>
        </li>
    </ol>
</div>
