{% extends 'admin/_layouts/after-login.html.twig' %}
{% form_theme form 'admin/_layouts/form-tailwind.html.twig' %}

{% block title %}{% trans %}Aktualizacja danych kontaktowych{% endtrans %}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('admin_default') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('admin_default') }}
{% endblock %}

{% block body %}

    <h1 id="page-title" class="font-semibold text-xl md:text-2xl lg:text-3xl mb-5">
        {% trans %}Uzupełnianie danych{% endtrans %}
    </h1>


    {{ form_start(form, {'attr': { 'novalidate': 'novalidate' }}) }}


    {# Podsumowanie błędów #}
    {% set hasFormErrors = (form_errors(form)|trim) is not empty %}
    {% set childErrors = [] %}

    {% for child in form %}
        {% if child is defined and child.vars is defined and child.vars.errors|length > 0 %}
            {% set labelTxt = (child.vars.label is not empty) ? child.vars.label : (child.vars.name|capitalize) %}
            {% set childErrors = childErrors|merge([{
                id: child.vars.id,
                label: labelTxt,
                errors: child.vars.errors
            }]) %}
        {% endif %}
    {% endfor %}

    {% if hasFormErrors or childErrors is not empty %}
        {% include '_partials/form-errors.html.twig' with { form: form, childErrors: childErrors } %}
    {% endif %}

    <div class="max-w-2xl space-y-4 w-full">

        <div>
            {{ form_label(form.phone, 'Numer telefonu*') }}

            <div class="flex space-x-3 items-stretch mb-6">
                <div class="w-56">
                    {{ form_widget(form.phone.country, {
                        attr: {
                            'aria-describedby': form.phone.vars.id ~ '_help'
                        }
                    }) }}
                </div>

                <div class="flex-1">
                    {{ form_widget(form.phone.number, {
                        attr: {
                            inputmode: 'tel',
                            autocomplete: 'tel',
                            placeholder: '123 456 789',
                            'aria-describedby': form.phone.vars.id ~ '_help',
                            'aria-invalid': form.phone.vars.errors|length ? 'true' : 'false'
                        }
                    }) }}
                </div>
            </div>

            {{ form_errors(form.phone) }}
            {{ form_errors(form.phone.country) }}
            {{ form_errors(form.phone.number) }}
        </div>

        <div class="md:col-span-5 flex items-center justify-start gap-2 pt-1">
            <button type="submit" class="cursor-pointer {{ buttonPrimary() }} {{ focusPrimaryWithPadding() }}">
                {% trans %}Zapisz{% endtrans %}
            </button>
            <a class="{{ buttonSecondary() }} {{ focusPrimaryWithPadding() }}" href="{{ url('admin_students_profile', { id: student.id }) }}">
                {% trans %}Wróć do profilu{% endtrans %}
            </a>
        </div>
    </div>
    {{ form_end(form) }}


{% endblock %}
