{% extends 'student/_layouts/after-login.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('admin_default') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('admin_default') }}
{% endblock %}

{% block title %}{% trans %}Składanie wniosku - krok 1{% endtrans %} | Help VIZJA{% endblock %}

{% block body %}
    <section class="space-y-8">
        <h1 id="page-title" class="wrap-break-word text-xl font-semibold md:text-2xl lg:text-3xl">
            {% trans %}Złóż wniosek{% endtrans %}
        </h1>

        {% include 'student/application/_partials/stepper.html.twig' with { currentStep: 1 } %}

        {{ form_start(form, {'attr': { 'novalidate': 'novalidate' }}) }}
        <input type="hidden" name="{{ form.vars.full_name }}[_submitted]" value="1">

        {% set hasFormErrors = (form_errors(form)|trim) is not empty %}
        {% set childErrors = [] %}

        {% for child in form %}
            {% if child is defined and child.vars is defined and child.vars.errors|length > 0 %}
                {% set labelTxt = (child.vars.label is not empty) ? child.vars.label : (child.vars.name|capitalize) %}
                {% set childErrors = childErrors|merge([{
                    id: child.vars.id,
                    label: labelTxt,
                    errors: child.vars.errors
                }]) %}
            {% endif %}
        {% endfor %}

        {% if hasFormErrors or childErrors is not empty %}
            {% include '_partials/form-errors.html.twig' with { form: form, childErrors: childErrors } %}
        {% endif %}

        <div class="space-y-8">
            <fieldset class="space-y-8">
                <legend class="sr-only">
                    {% trans %}Wybór rodzaju wniosku{% endtrans %}
                </legend>

                <div class="space-y-2">
                    <h2 class="flex items-center wrap-break-word font-medium text-md md:text-lg lg:text-xl">
                        {% trans %}Krok{% endtrans %} 1.
                        {% trans %}Wybierz rodzaj{% endtrans %}
                    </h2>

                    <p class="sr-only">
                        {% trans %}Użyj klawiszy strzałek, aby zmienić wybór.{% endtrans %}
                    </p>
                </div>

                <div class="grid grid-cols-1 gap-4 lg:grid-cols-3">
                    {% for choice in form.type %}
                        <div class="mr-auto flex h-full w-full min-w-0 text-base border-2 rounded-lg">
                            <input
                                class="peer sr-only {{ choice.vars.attr.class|default('') }}"
                                id="{{ choice.vars.id }}"
                                name="{{ choice.vars.full_name }}"
                                type="radio"
                                value="{{ choice.vars.value }}"
                                {% if choice.vars.checked %}checked="checked"{% endif %}
                                {% if choice.vars.required %}required="required"{% endif %}
                                {% if choice.vars.disabled %}disabled="disabled"{% endif %}
                            >

                            <label
                                for="{{ choice.vars.id }}"
                                class="
                                    block w-full cursor-pointer rounded-lg bg-zinc-50 p-4 font-medium dark:bg-zinc-800
                                    {{ borderPrimary() }}
                                    {{ peerFocusPrimaryWithPadding() }}

                                    peer-checked:border-blue-600
                                    peer-checked:bg-blue-600
                                    peer-checked:text-white

                                    dark:peer-checked:border-yellow-400
                                    dark:peer-checked:bg-yellow-400
                                    dark:peer-checked:text-zinc-950
                                "
                            >
                    <span class="wrap-break-word font-bold">
                        {{ choice.vars.label }}
                    </span>

                                <br>

                                <span id="{{ choice.vars.id }}-text"
                                      class="mt-2 inline-block wrap-break-word text-base font-normal">
                        {{ choice.vars.attr['data-value-key']|default('') }}
                    </span>
                            </label>
                        </div>
                    {% endfor %}
                </div>

                {{ form_errors(form.type) }}
            </fieldset>
        </div>

        <div class="mt-10 flex flex-wrap gap-2">
            <a class="{{ buttonSecondary() }} {{ focusPrimaryWithPadding() }}" href="{{ url('student_application_index') }}">
                {% trans %}Wróć do Wniosków{% endtrans %}
            </a>
            <button class="{{ buttonPrimary() }} {{ focusPrimaryWithPadding() }} cursor-pointer" type="submit">
                {% trans %}Przejdź dalej{% endtrans %}
            </button>
        </div>

        {{ form_end(form, { render_rest: false }) }}
    </section>

    <style>
        input[type="radio"]:checked + label {
            /*outline: 3px solid currentColor;*/
            outline-offset: 2px;
        }

        @media (forced-colors: active) {
            input[type="radio"]:checked + label {
                outline: 3px solid Highlight;
                outline-offset: 2px;
                border: 3px solid Highlight;
                background: Highlight;
                color: HighlightText;
                forced-color-adjust: none;
            }

            input[type="radio"]:checked + label::after {
                content: " ✓";
                font-weight: 700;
            }
        }
    </style>
{% endblock %}
