{% extends 'student/_layouts/after-login.html.twig' %}
{% block title %}{% trans %}Najczęście zadawane pytania i odpowiedzi{% endtrans %} | Help VIZJA{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('admin_default') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('admin_default') }}
{% endblock %}

{% block body %}
    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6 ">
            <h1 class="mb-6 lg:mb-8 text-3xl lg:text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">{% trans %}Najczęściej zadawane pytania i odpowiedzi{% endtrans %}</h1>
            <div class="mx-auto max-w-screen-md">
                <div id="accordion-flush" data-accordion="collapse" data-active-classes="bg-white dark:bg-gray-900 text-gray-900 dark:text-white"
                    data-inactive-classes="text-gray-500 dark:text-gray-400">
                    {% set expectedKey = app.locale == 'pl' ? 'Polski' : 'Angielski' %}

                    {% for f in faq %}
                        {% if (f.language.value ?? null) == expectedKey %}
                            {% set headingId = 'accordion-heading-' ~ (f.id ?? loop.index) %}
                            {% set bodyId    = 'accordion-body-' ~ (f.id ?? loop.index) %}

                            <h2 id="{{ headingId }}">
                                <button type="button"
                                    class="cursor-pointer flex justify-between items-center p-5 w-full font-medium text-left text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 hover:bg-zinc-50"
                                    data-accordion-target="#{{ bodyId }}"
                                    aria-expanded="false"
                                    aria-controls="{{ bodyId }}">
                                    <span>{{ f.question }}</span>
                                    <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </h2>

                            <div id="{{ bodyId }}" class="hidden" aria-labelledby="{{ headingId }}">
                                <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                                    <p class="mb-2 text-gray-500 dark:text-gray-400">{{ f.answer }}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
