{% extends 'student/_layouts/after-login.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('admin_default') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('admin_default') }}
{% endblock %}

{% block title %}{% trans %}Szczegóły ogłoszenia{% endtrans %} | Help VIZJA{% endblock %}

{% block body %}
    <section class="space-y-8">
        <h1 id="page-title" class="font-semibold text-xl md:text-2xl lg:text-3xl">
            {% trans %}Szczegóły ogłoszenia{% endtrans %}
        </h1>
        <article class="space-y-4">
            <header>
                <h2 class="font-semibold">
                    {{ announcement.title }}
                </h2>
            </header>
            <div class="flex items-center space-x-2">
                <svg class="h-4 w-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd"
                        d="M5 5a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1 2 2 0 0 1 2 2v1a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7a2 2 0 0 1 2-2ZM3 19v-7a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2Zm6.01-6a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm-10 4a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z"
                        clip-rule="evenodd" />
                </svg>
                <dl class="flex space-x-2">
                    <dt>{% trans %}Data publikacji{% endtrans %}</dt>
                    <dd>{{ (announcement.startsAt)|date('d.m.Y') }}</dd>
                </dl>
            </div>
            <p>
                {{ announcement.description|raw }}
            </p>
        </article>
        <div class="mt-10">
            {{ secondary_button(('Wróć do Ogłoszeń')|trans, 'student_announcements') }}
        </div>
    </section>
{% endblock %}
